
        #p1{
            background-color: yellow;
            color: red;
        }

        #p2{
            background-color: purple;
            color: mediumaquamarine;
        }

        .p3{
            background-color: rosybrown;
            color: wheat;
        }

        button{
            background-color: aqua;
            color: red;
        }
    